* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #333;
    color: #fff;
    font-size: 1.1em;
    line-height: 1.5;
    text-align: center;
}

.header {
    height: 450px;
}

.header__background  {
    background: url('https://static.pexels.com/photos/248515/pexels-photo-248515.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    opacity: 0.4;  
}

.header__content {
    opacity: 0.99999;
    margin-top: -450px;
}

a {
    text-decoration: none;
    color:inherit;
}

.header__title{
    color:#ffffff;
    padding-top: 100px;
}

.header__text {
    padding: 20px 0;
}

.header__button {
    display: inline-block;
    background: #333;
    color: #fff;
    text-decoration: none;
    padding: 1em 2em;
    border: 1px solid #666;
    margin: 0.5em 0;
}

.aboutUs {
    background-color: #ffffff;
    color:#000000;
    padding: 50px 0px;
}

.aboutUs__title {
    margin-bottom: 40px;
}

.aboutUs__item {
    display: inline-block;
    width: 40%; 
}

.areas_of_work {
    padding: 30px 0;
    margin: 0 auto;
    color:#000000;
}

.areas_of_work-item {
    display: inline-block;
    width: 21%;
    margin-right: 15px;
    background-color: #ffffff;
    vertical-align: top;
}

.areas_of_work-item-content {
    padding: 25px;
}

.areas_of_work-title {
    margin-bottom: 40px;
    font-size: 1.17em;
}

.areas_of_work-item-last {
    margin-right: 0px;
}

.areas_of_work-image {
    display: block;
    width: 100%;
    margin-bottom: 20px;
}

.advantages {
    background-color: #fff;
    color:#000;
    padding: 50px 0px;
}

.advantages-title {
    margin-bottom: 50px;
}

.contacts-item {
    display: inline-block;
    width: 49.8%;
    padding: 50px 0;
    vertical-align: top;
}

.contacts-item-title {
    margin-bottom: 40px;
}

.contacts-item-text {
    margin-bottom: 40px;
}

.contacts-item-first {
    background: #2690d4;
}

.contacts-item-second {
    background: #333;
}

.footer {
    background-color: #000;
    padding: 30px 0;
}

.footer__item {
    display: inline-block;
    width: 49.8%;
}

.footer__item a {
    color:#2690d4;
}